
input{
    padding: 10px;
    display: block;
    margin: 10px 10px 20px 0;
    width: 90%;
}

label{
    float: left;
    right: 250px;
}
.submit{
    background-color:lightseagreen;
    color: white;
    border-style: hidden;

}
.submit:disabled{
    background-color: lightcoral;
}
